body {
  background: #020617;
  color: #e5e7eb;
  font-family: system-ui;
}
.container {
  max-width: 420px;
  margin: 100px auto;
  padding: 25px;
  background: #020617;
  border-radius: 16px;
  border: 1px solid #2563eb;
  box-shadow: 0 0 30px #000;
}
h1 { color: #3b82f6; }
input {
  width: 100%;
  padding: 12px;
  background: #020617;
  border: 1px solid #2563eb;
  color: white;
  border-radius: 8px;
}
.buttons {
  display: flex;
  gap: 10px;
  margin-top: 12px;
}
button {
  flex: 1;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
pre {
  margin-top: 15px;
  font-size: 12px;
  white-space: pre-wrap;
}
